.circles {
  div {
    @apply absolute;
    width: 400px;
    height: 400px;
    animation: circleAnim 5s infinite ease-in-out;

    &:first-child,
    &:last-child {
      left: -400px;
      top: -250px;
    }

    &:first-child {
      box-shadow: 160px 100px 400px rgba(255, 56, 80, 0.8);
    }

    &:last-child {
      box-shadow: -160px -100px 400px rgba(255, 56, 80, 0.8);
    }
  }
}

@keyframes circleAnim {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.25;
  }
}
